[submodule ".config/librewolf/cascade"]
	path = .config/librewolf/cascade
	url = git@github.com:CheesyChocolate/cascade.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:CheesyChocolate/nvim.git
[submodule ".config/hypr"]
	path = .config/hypr
	url = git@github.com:CheesyChocolate/hyprland.git
[submodule ".config/x11/xresources-themes"]
	path = .config/x11/xresources-themes
	url = https://github.com/janoamaral/Xresources-themes.git
[submodule ".config/zsh/plugins/zsh-select-with-lf"]
	path = .config/zsh/plugins/zsh-select-with-lf
	url = https://github.com/chmouel/zsh-select-with-lf.git
