# ignore everything
/*

# except
!README.md
!.gitignore
!.gitmodules

!.config/
.config/*
!.config/bat/
!.config/cheat/
.config/cheat/*
!.config/cheat/conf.yml
!.config/Code/
.config/Code/*
!.config/Code/User/
.config/Code/User/*
!.config/Code/User/settings.json
!.config/distrobox/
!.config/dosbox/
!.config/dunst/
!.config/dwm/
!.config/fontconfig/
!.config/gh/
.config/gh/*
!.config/gh/config.yml
!.config/gh-copilot/
!.config/git/
!.config/glow/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/hypr/
!.config/htop/
!.config/iamb/
.config/iamb/*
!.config/iamb/config.json
!.config/lf/
!.config/librewolf/
.config/librewolf/*
!.config/librewolf/cascade
!.config/litecli/
.config/litecli/*
!.config/litecli/config
!.config/lobster/
.config/lobster/lobster_history.txt
!.config/lynx/
!.config/maven/
.config/maven/*
!.config/maven/settings.xml
!.config/mpd/
!.config/mov-cli/
!.config/mpv/
!.config/ncmpcpp/
!.config/newsboat/
!.config/npm/
!.config/nsxiv/
!.config/nvim/
!.config/nvtop/
!.config/octave/
.config/octave/*
!.config/octave/octaverc
!.config/pinentry/
!.config/pipe-viewer/
.config/pipe-viewer/*
!.config/pipe-viewer/gtk-pipe-viewer.conf
!.config/pipe-viewer/pipe-viewer.conf
!.config/pipe-viewer/subscribed_channels.txt
!.config/pipewire/
!.config/pulse/
!.config/python/
!.config/retroarch/
.config/retroarch/*
!.config/retroarch/retroarch.cfg
!.config/root/
!.config/shell/
.config/shell/privateProfile
!.config/spicy/
!.config/swaylock/
!.config/tmux/
!.config/vlc/
!.config/vlc/*
.config/vlc/vlc-qt-interface.conf
!.config/wal/
!.config/waybar/
!.config/wget/
!.config/wikiman/
!.config/wireplumber/
!.config/wtwitch/
.config/wtwitch/api.json
!.config/x11/
!.config/yay/
!.config/zathura/
!.config/zed/
.config/zed/*
!.config/zed/settings.json
!.config/zsh/
!.config/linux-steam-integration.conf
!.config/mimeapps.list
!.config/user-dirs.dirs

!.local/
.local/*
!.local/bin/
.local/bin/private/
!.local/share/
.local/share/*
!.local/share/applications/
!.local/share/bookmark
!.local/share/gnupg/
.local/share/gnupg/*
!.local/share/gnupg/gpg-agent.conf
!.local/share/larbs/
!.local/share/ollama/
.local/share/ollama/*
!.local/share/ollama/Modelfile-*
!.local/share/spotdl/
.local/share/spotdl/*
!.local/share/spotdl/config.json
!.local/share/wallpapers/
!.local/share/exponential.txt
