# Ignore everything
*

# But not these files...
!.gitignore
!README.md
# the .config dir
!/test
#.config/
#config/*
#.config/dunst/
#.config/fontconfig/
#.config/gtk-2.0/
#.config/gtk-3.0/
#.config/htop/
#.config/lf/
#.config/mpd/
#.config/mpv/
#.config/ncmcpp/
#.config/newsboat/
