# ignore everything
/*

# except
!README.md
!.gitignore
!.gitmodules

!.config/
.config/*
!.config/dosbox/
!.config/dunst/
!.config/dwm/
!.config/fontconfig/
!.config/git/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/htop/
!.config/lf/
!.config/librewolf/
!.config/lobster/
.config/lobster/lobster_history.txt
!.config/lynx/
!.config/mpd/
!.config/mpv/
!.config/ncmpcpp/
!.config/newsboat/
!.config/npm/
!.config/nvim/
!.config/octave/
.config/octave/*
!.config/octave/octaverc
!.config/pinentry/
!.config/pipe-viewer/
.config/pipe-viewer/*
!.config/pipe-viewer/gtk-pipe-viewer.conf
!.config/pipe-viewer/pipe-viewer.conf
!.config/pipe-viewer/subscribed_channels.txt
!.config/pipwire/
!.config/pulse/
!.config/python/
!.config/root/
!.config/shell/
.config/shell/privateProfile
!.config/spicy/
!.config/sxiv/
!.config/wal/
!.config/wget/
!.config/wikiman/
!.config/wtwitch/
.config/wtwitch/api.json
!.config/x11/
!.config/yay/
!.config/zathura/
!.config/zsh/
!.config/linux-steam-integration.conf
!.config/mimeapps.list
!.config/user-dirs.dirs

!.local/
.local/*
!.local/bin/
.local/bin/private/
!.local/share/
.local/share/*
!.local/share/applications/
!.local/share/bookmark
!.local/share/gnupg/
.local/share/gnupg/*
!.local/share/gnupg/gpg-agent.conf
!.local/share/larbs/
!.local/share/spotdl/
.local/share/spotdl/*
!.local/share/spotdl/config.json
!.local/share/wallpapers/
!.local/share/exponential.txt
