[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/home/suren/.local/share/lutris/Games/geforcenow" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=2E40_notepad.0
