[Desktop Entry]
Name=Uninstall
Exec=env WINEPREFIX="/home/suren/.local/share/lutris/Sources/ubisoft-connect" wine C:\\\\users\\\\suren\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Ubisoft\\\\Ubisoft\\ Connect\\\\Uninstall.lnk
Type=Application
StartupNotify=true
Path=/home/suren/.local/share/lutris/Sources/ubisoft-connect/dosdevices/c:/Program Files (x86)/Ubisoft/Ubisoft Game Launcher
Icon=283B_Uninstall.0
StartupWMClass=uninstall.exe
